@use 'tokens';
@use 'reset';
@use 'typography';
@use 'animations';

::selection {
  color: var(--color-brand-900);
  background: var(--color-accent-300);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
